<h1>Bienvenue {{ user.email }} !</h1>

<p>Votre compte a été créé avec succès.</p>

<p>Vous pouvez maintenant vous connecter et profiter de nos services.</p>

<p>Merci de nous avoir rejoint !</p>

<hr>
<p><small>Cet email a été envoyé automatiquement, merci de ne pas y répondre.</small></p>

